data
.env
cache
results
__pycache__
.DS_Store
deps
wandb

# LaTeX
publications/**/*.aux
publications/**/*.log
publications/**/*.out
publications/**/*.pdf
publications/**/*.toc
publications/**/*.bbl
publications/**/*.blg
publications/**/*.fls
publications/**/*.fdb_latexmk
publications/**/*.synctex.gz
# human_eval webapp
human_eval/static/img/
human_eval/eval.db
human_eval/eval.db-*
human_eval/export/
human_eval/__pycache__/
